# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Environment
.env

# VS Code
.vscode/

# macOS system files
.DS_Store

# MinIO system files
data/minio/.minio.sys/
data/minio/*.csv/

# Logs
*.log

# Dagster
dagster_home/
dagster.yaml

